.trainer_list{
    flex-direction: column;
}
.center{
    font-size:10px;
}
.navbar{
    flex-direction: column;
    align-items: center;
}
.navbar ul {
    display: flex;
    margin: 24px 0px;
}

.navbar ul li{
    font-size: 1rem;
    padding: 0px 0px;
}

.navbar ul li a {
    display: flex;
    padding: 0px 10px;
    text-decoration: none;
    border-radius: 18px;
    color: #fff;
}

#home{
    height: 120px;
    display: flex;
    flex-direction: inherit;
    margin: 61px 150px;
}


#home p{
    font-size: 20px;
    margin: auto;
}
#home::before{
    content: "";
    position: absolute;
    background: url(home.jpg)no-repeat center center/cover;
    height: 400px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 1;
}
#main {
    flex-direction: inherit;
}
.btn{
    display: flex;
    font-size: 0.5rem;
}
#contact{
    top: 300px;
}
#contact h1{
    margin-top:90px ;
}
#about{
    top:350px;
}
